<script>

    const formDelete = document.querySelector("#form-delete");
    formDelete.addEventListener("submit", function(event){
    const confirmation = confirm("Confirm delete?");

    if (!confirmation){
        event.preventDefault();
    }
    });
</script>  