<div class="item">            
    <div>Avatar URL</div>
    <div>
        <input 
        type="url" 
        name="avatar_url" 
        placeholder="http://"
        value="{{ student.avatar_url }}"
        >
    </div>
</div>

<div class="item">            
    <div>Name</div>
    <div>
        <input 
        type="text" 
        name="name" 
        value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">            
    <div>Email</div>
    <div>
        <input 
        type="email" 
        name="email" 
        value="{{ student.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Date of Birth</div>
    <div>
        <input 
        type="date" 
        name="birth" 
        value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Gender</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="gender" 
            value="M"
            {% if student.gender == "M" %}
                checked
            {% endif %}>Male
        </span>
        <span>
            <input 
            type="radio" 
            name="gender" 
            value="F" 
            {% if student.gender == "F" %}
                checked
            {% endif %}>Female
        </span>
    </div>
</div>

<div class="item">
    <div>Modalities</div>
    <div> 
        <input 
        type="text" 
        name="services"
        placeholder="Separate the classes taken by comma"
        value="{{ student.services }}"
        >
    </div>
</div>

<div class="item">
    <div>Blood Type</div>
    <div>
        <select name="blood">
            <option value="A+"
            {% if member.blood == "A+" %}selected{% endif %}
            >A+</option>
            <option value="A-"
            {% if member.blood == "A-" %}selected{% endif %}
            >A-</option>
            <option value="B+"
            {% if member.blood == "B+" %}selected{% endif %}
            >B+</option>
            <option value="B-"
            {% if member.blood == "B-" %}selected{% endif %}
            >B-</option>
            <option value="AB+"
            {% if member.blood == "AB+" %}selected{% endif %}
            >AB+</option>
            <option value="AB-"
            {% if member.blood == "AB-" %}selected{% endif %}
            >AB-</option>
            <option value="O+"
            {% if member.blood == "O+" %}selected{% endif %}
            >O+</option>
            <option value="O-"
            {% if member.blood == "O-" %}selected{% endif %}
            >O-</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Weight(kg)</div>
    <div>
        <input 
        type="number" 
        name="weight" 
        value="{{ student.weight }}"
        >
    </div>
</div>

<div class="item">
    <div>Height(cm)</div>
    <div>
        <input 
        type="number" 
        name="height" 
        value="{{ student.height }}"
        >
    </div>
</div>

<button type="submit">Save</button>