{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/2446638/500x500) no-repeat center center / cover"></section>
    <section class="details">
        <h3>Details</h3>
        <div class="item">
            <div>Instructor</div>
            <div>Maria Beltrão</div>
        </div>

        <div class="item">
            <div>Age</div>
            <div>29 years</div>
        </div>

        <div class="item">
            <div>Gender</div>
            <div>Female</div>
        </div>

        <div class="item">
            <div>Modalities</div>
            <div> 
                <span>Classic</span>
                <span>Contemporary</span>
            </div>
        </div>

        
        <div class="item">
            <div>Since</div>
            <div>02/01/2020</div>
        </div>
        
    </section>
</div>

{% endblock content %}